.masthead {
    padding-top: 0;
    display:block;
    height: 100vh;
    min-height: 500px;
    background-image: url('/static/assets/madojo_cap.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}
.navbar {
    margin:0 !important;
    padding: 0px !important
}

body {
    padding-right: 0px !important;
    overflow-y: hidden !important;
}