<!DOCTYPE html>
<html lang="en">
<head>
    <title>Madojo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css" >
</head>


<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Madojo</a>
        </div>
        <ul class="nav navbar-nav">
            <li> <a href="/menu">Admin Home</a></li>
            <li><a href="/students">Students</a></li>
            <li ><a href="/companies">Companies</a></li>
            <li><a href="/schools">Schools</a></li>
            <li class="active" ><a href="/projects">Projects</a></li>
        </ul>
    </div>
</nav>


<h2>Project Admin</h2>

<table class="table">
    <thead>
    <tr>
        <th style="width: 5%" scope="col">Id</th>
        <th style="width: 10%" scope="col">Name</th>
        <th style="width: 20%" scope="col">Category</th>
        <th style="width: 10%" scope="col">Description</th>
        <th style="width: 10%" scope="col">Number of Teams</th>
        <th style="width: 10%" scope="col">Duration: From</th>
        <th style="width: 10%" scope="col">Duration: To</th>
        <th scope="col">[UPDATE]</th>
        <th scope="col">[REMOVE]</th>

    </tr>
    </thead>
    <a class="btn btn-primary" href="addproject">Add New Project</a>
    <tbody>
    {% for project in projects %}
    <tr>
        <td>{{ project.project_id }}</th>
        <td>{{ project.name }}</td>
        <td>{{ project.category }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.num_teams_working_on_project }}</td>
        <td>{{ project.duration_from }}</td>
        <td>{{ project.duration_to }}</td>
        <td style="width: 5%"> <a href='updateProject/{{project.project_id }}'>Edit</a></td>
        <td ><a href='deleteProject/{{project.project_id }}'>Delete</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>


</body>