<!DOCTYPE html>
<html lang="en">
<head>
    <title>Madojo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css" >
</head>


<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Madojo</a>
        </div>
        <ul class="nav navbar-nav">
            <li> <a href="/menu">Admin Home</a></li>
            <li><a href="/students">Students</a></li>
            <li ><a href="/companies">Companies</a></li>
            <li class="active" ><a href="/schools">Schools</a></li>
            <li ><a href="/projects">Projects</a></li>
            <li ><a href="/explore">Explore Data</a></li>
        </ul>
    </div>
</nav>


<h2>Academic Admin</h2>

<table class="table">
    <thead>
    <tr>
        <th style="width: 5%" scope="col">Id</th>
        <th style="width: 10%" scope="col">Name</th>
        <th style="width: 20%" scope="col">Address</th>
        <th style="width: 10%" scope="col">Type</th>
        <th style="width: 10%" scope="col">Size</th>
        <th scope="col">[UPDATE]</th>
        <th scope="col">[REMOVE]</th>

    </tr>
    </thead>
    <a class="btn btn-primary" href="addschool">Add New School</a>
    <tbody>
    {% for school in schools %}
    <tr>
        <td>{{ school.school_id }}</th>
        <td>{{ school.name }}</td>
        <td>{{ school.address }}</td>
        <td>{{ school.type }}</td>
        <td>{{ school.size }}</td>
        <td style="width: 5%"> <a href='updateSchool/{{school.school_id }}'>Edit</a></td>
        <td ><a href='deleteSchool/{{school.school_id }}'>Delete</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>


</body>